@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#0177bd">
    <title>Forester CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />
    @Html.BundleCss("cms",
        "cms/general.scss"
    )
    @Html.BundleModulesCss(true)
    @Html.BundleScripts("cms",
        "cms/general.js"
    )
    @*@if (pageModel.FavIcon != null)
        {
            <link rel="icon" type="image/x-icon" href="@pageModel.FavIcon" />
        }
        @Html.Raw(pageModel.GetHeadHtml())*@
</head>
<body>
    @RenderBody()
    @*@await Html.PartialAsync("~/Views/General/_Accessibility.cshtml")*@
    @CmsRouter.Data.PageModel.GetClientDataScript()
    @Html.BundleModulesScripts(true)
    @RenderSection("Scripts", required: false)
</body>
</html>
