@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#0177bd">
    <title>Forester CMS</title>
    <meta name="description" content="Forester CMS is a light weight web cms, developers and users friendly" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />
    <link rel="icon" type="image/x-icon" href="~/images/cms/favicon/favicon.ico" />
    <style>
        [v-cloak] { visibility: hidden; }
    </style>
</head>
<body>
    @RenderBody()
@*    @CmsRouter.Data.PageModel.GetClientDataScript()*@
    <script>
        window.datasource = {};
        datasource.clientPath = '@Url.Content($"~/webpack/{@Html.GetClientFolder()}/")';
    </script>
    <script asp-append-version="true" src="@(Html.WebpackPath("vendors.js"))"></script>
    <script asp-append-version="true" src="@(Html.WebpackPath("common.js"))"></script>
    <script asp-append-version="true" src="@(Html.WebpackPath("cms.js"))"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>