@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#0177bd">
    <title>Forester CMS</title>
    <meta name="description" content="Forester CMS is a light weight web cms, developers and users friendly" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />
    <link rel="stylesheet" type="text/css" href="@(Html.WebpackPath("cms.css"))" asp-append-version="true" />
    @*@Html.BundleModulesCss(true)*@
    @*@Html.BundleScripts("cms-head",
        "cms/head.js"
        )*@
    <link rel="icon" type="image/x-icon" href="~/images/cms/favicon/favicon.ico" />
    @*@Html.Raw(pageModel.GetHeadHtml())*@
</head>
<body>
    @RenderBody()
    @*@await Html.PartialAsync("~/Views/General/_Accessibility.cshtml")*@
    @CmsRouter.Data.PageModel.GetClientDataScript()
    @*@Html.BundleScripts("cms-libs",
        "cms/libs/jquery-3.6.0.min.js",
        "cms/libs/moment.min.js",
        "cms/libs/axios.min.js",
        "cms/libs/vue.js"
        )
        @Html.BundleScripts("cms",
        "cms/app.js"
        )*@
    <script>
        window.datasource = {};
        datasource.clientPath = '@Url.Content($"~/webpack/{@Html.GetClientFolder()}/")';
    </script>
    <script asp-append-version="true" src="@(Html.WebpackPath("vendors.js"))"></script>
    <script asp-append-version="true" src="@(Html.WebpackPath("common.js"))"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>